
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    .navbar ul {
      display: inline-flex;
      list-style: none;
      color: black;
    }

    .navbar ul li a {
      text-decoration: none;
      color: black;
    }

    .navbar ul li:hover {
      background-color: #a4cff8;
      border-radius: 3px;
    }

    .navbar ul li:first-child:hover {
      background-color: transparent;
    }

    .heading {
      background-color: #dce7fa;
    }

    .dropdown-content-1,
    .dropdown-content-2 {
      display: none;
      position: absolute;
      background-color: #a4cff8;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px #a4cff8;
      z-index: 1;
      text-align: right;
    }

    .dropdown-1,
    .dropdown-2 {
      width: 90px;
      padding: 10px 0px;
      display: inline-block;
      text-align: right;
    }

    .navbar ul li:hover .dropdown-content-1 {
      display: block;
      position: absolute;
      background-color: #a4cff8;
    }

    .navbar ul li:hover .dropdown-content-2 {
      display: block;
      position: absolute;
      background-color: #a4cff8;
    }

    .navbar ul li:hover .dropdown-content-2 ul {
      display: block;
    }

    .navbar ul li:hover .dropdown-content-1 ul {
      display: block;
    }

    .navbar ul li:hover .dropdown-content-1 ul li,
    .navbar ul li:hover .dropdown-content-2 ul li {
      width: 70px;
      padding: 10px 0px;
      border-bottom: 1px solid;
      background: transparent;
      border-radius: 0;
      text-align: center;
      align-items: center;
    }

    .navbar ul li:hover .dropdown-content-1 ul li :last-child,
    .navbar ul li:hover .dropdown-content-2 ul li :last-child {
      border-bottom: none;
    }

    #language {
      text-align: right;
      padding: 0px 10px;
    }

    h2,
    h1 {
      text-align: center;
    }
malware-protect
    #phishing-button {
      border: none;
      background-color: rgb(16, 57, 118);
    }

    #dos-button {
      border: none;
      background-color: rgb(72, 181, 239);
    }

    .icon {
      padding: 5px 5px 0px 0px;
    }

    .navbar .bi {
      padding: 0px 10px 0px 0px;
    }

    .icon-img {
      float: left;
    }

    .sections {
      list-style: none;
      position: relative;
    }

    .sections li {
      padding: 10px 0px;
    }

    .sidebar {
      width: 200px;
      height: 100%;
      position: fixed;
      /* top: 0; */
      left: 0;
      text-align: center;
      padding: 0px 10px 0px 0px;
      border-right: 3px solid #dce7fa;
    }

    .sections li a {
      color: black;
      text-decoration: none;
    }

    .head {
      width: 200px;
      height: 40px;
      text-align: center;
      padding: 0px 0px;
      background: #dce7fa;
    }

    .sidebar ul li:hover {
      background-color: #a4cff8;
      border-radius: 3px;
    }

    .phishing-info span, .malware-info span, .malware-info span a{
      color: #a4cff8;
      text-decoration: none;
    }

    .phishing-info, .malware-info {
      margin-left: 210px;
    }

    .time {
      color: grey;
    }

    table,
    th,
    td {
      border: 1px solid #a4cff8;
      text-align: center;
      padding: 1px;
    }

    #impact th,
    #recent th {
      background-color: #a4cff8;
    }

    #impact tr:nth-child(even),
    #recent tr:nth-child(even) {
      background-color: #e0e8f6;
    }
    ol li{
      list-style-type: none;
    }
    .phish-example{
      float:right;
      margin:0 50 50 150px;
    }
   .sticky {
    position: fixed;
    top: 0;
  }
  
  .sticky + .phishing-info {
    padding-top: 50px;
  }

.phishing-story, .malware-story {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow {
  display: none;
}

.prev, .nxt {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #007bff;
  background-color: white;
  border-color: #007bff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.nxt {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .nxt:hover {
  color: white;
  background-color: #007bff;
}
.notxt {
  color: darkslategrey;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade ;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
external-lnk{
  color: black;
}